<div class="app-footer d-flex align-items-center justify-content-between" [class.fixed-bottom]="settings.theme.footerIsFixed" style="background-color: #87cefa;">

    <span class="copyright">Copyright © 2017 All Rights Reserved</span>

    <span class="links">
        <!-- <a class="mr-2" routerLink="/aboutus">About Us</a>
        <a routerLink="/contactus">Contact Us</a> -->
        <a class="mr-2" target="_blank" rel="noopener noreferrer" href="https://miracleofjesuschurch.com/">About Us</a>
        <a target="_blank" rel="noopener noreferrer" href="https://miracleofjesuschurch.com/" >Contact Us</a>
    </span>


    <!-- <span class="social-icons">
         <a href="https://www.facebook.com/themeseason" target="_blank"><i class="fa fa-facebook-square transition" aria-hidden="true"></i></a>
         <a href="https://twitter.com/themeseason" target="_blank"><i class="fa fa-twitter-square transition" aria-hidden="true"></i></a>
         <a href="https://www.instagram.com/themeseason" target="_blank"><i class="fa fa-instagram transition" aria-hidden="true"></i></a>
         <a href="https://www.pinterest.com/themeseason" target="_blank"><i class="fa fa-pinterest-square transition" aria-hidden="true"></i></a>             
    </span> -->

</div>