<h2>List group</h2>
<p class="text-muted">List groups are a flexible and powerful component for displaying a series of content. List group items can be modified and extended to support just about any content within. They can also be used as navigation with the right modifier class.</p>

<div class="row">
    <div class="col-lg-6 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Basic example</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a> 
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body pt-0 widget-body"> 
                <p class="fs-13 text-gray">The most basic list group is an unordered list with list items and the proper classes. Build upon it with the options that follow, or with your own CSS as needed.</p>
                <ul class="list-group">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Morbi leo risus</li>
                  <li class="list-group-item">Porta ac consectetur ac</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Active/Disabled items</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a> 
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body pt-0 widget-body">
                <p class="fs-13 text-gray mb-1">Add <code>.active</code> to a <code>.list-group-item</code> to indicate the current active selection.</p>
                <p class="fs-13 text-gray">Add <code>.disabled</code> to a <code>.list-group-item</code> to make it appear disabled.</p>
              
                <ul class="list-group">
                  <li class="list-group-item active">Active list item</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item disabled">Disabled list item</li>
                  <li class="list-group-item">Porta ac consectetur ac</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Contextual classes</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a> 
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body pt-0 widget-body"> 
                <p class="fs-13 text-gray">Use contextual classes to style list items with a stateful background and color.</p>
                <ul class="list-group">
                  <li class="list-group-item list-group-item-primary">Dapibus ac facilisis in</li>
                  <li class="list-group-item list-group-item-success">Dapibus ac facilisis in</li>
                  <li class="list-group-item list-group-item-info">Cras sit amet nibh libero</li>
                  <li class="list-group-item list-group-item-warning">Porta ac consectetur ac</li>
                  <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">With badges</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a> 
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body pt-0 widget-body"> 
                <p class="fs-13 text-gray">Add badges to any list group item to show unread counts, activity and more.</p>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">                        
                        Cras justo odio
                        <span class="badge badge-pill badge-primary">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">                       
                        Dapibus ac facilisis in
                        <span class="badge badge-pill badge-primary">22</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">                        
                        Morbi leo risus
                        <span class="badge badge-pill badge-primary">31</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">                        
                        Porta ac consectetur ac
                        <span class="badge badge-pill badge-primary">17</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">                        
                        Vestibulum at eros
                        <span class="badge badge-pill badge-primary">44</span>
                    </li>
                </ul> 
            </div>
        </div>
    </div>   
</div>