<div class="row mb-5">
    <div class="col-12">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Draggable elements around in the same container</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a> 
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>       
            </div>
            <div class="card-body widget-body pt-0">
               <p class="text-left fs-13 text-gray">Ng2 Dragula - Drag and drop so simple it hurts. Built with <a href="https://github.com/valor-software/ng2-dragula" target="_blank" class="font-weight-bold transition">ng2-dragula</a></p>
             
                <div class="row" [dragula]="'bag-container'">
                   <div class="col-lg-4 col-md-6 mb-4 draggable">
                        <div class="card text-white text-center bg-gray">
                            <div class="card-body">
                                <h4 class="card-title">Drag me!</h4>
                                <p class="card-text">There's also the possibility of moving elements around in the same container, changing their position.</p>
                            </div>
                        </div> 
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 draggable">
                        <div class="card card-success text-white text-center">
                            <div class="card-body">
                                <h4 class="card-title">Drag me!</h4>
                                <p class="card-text">There's also the possibility of moving elements around in the same container, changing their position.</p>
                            </div>
                        </div> 
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 draggable">
                        <div class="card card-primary text-white text-center">
                            <div class="card-body">
                                <h4 class="card-title">Drag me!</h4>
                                <p class="card-text">There's also the possibility of moving elements around in the same container, changing their position.</p>
                            </div>
                        </div> 
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 draggable">
                        <div class="card card-danger text-white text-center">
                            <div class="card-body">
                                <h4 class="card-title">Drag me!</h4>
                                <p class="card-text">There's also the possibility of moving elements around in the same container, changing their position.</p>
                            </div>
                        </div> 
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 draggable">
                        <div class="card card-info text-white text-center">
                            <div class="card-body">
                                <h4 class="card-title">Drag me!</h4>
                                <p class="card-text">There's also the possibility of moving elements around in the same container, changing their position.</p>
                            </div>
                        </div> 
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 draggable">
                        <div class="card card-warning text-white text-center">
                            <div class="card-body">
                                <h4 class="card-title">Drag me!</h4>
                                <p class="card-text">There's also the possibility of moving elements around in the same container, changing their position.</p>
                            </div>
                        </div> 
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row text-center">
    <div class="col-6"  [dragula]="'bag-1'">
        <h4>First Container</h4>
        <div class="card card-primary text-white rounded-0 draggable">
            <div class="card-body">
                <h4 class="card-title">Move me!</h4>
                <p class="card-text">You can move these elements between these two containers.</p>
            </div>
        </div>
        <div class="card card-danger text-white rounded-0 draggable">
            <div class="card-body">
                <h4 class="card-title">Move me!</h4>
                <p class="card-text">You can move these elements between these two containers.</p>
            </div>
        </div>
        <div class="card card-success text-white rounded-0 draggable">
            <div class="card-body">
                <h4 class="card-title">Move me!</h4>
                <p class="card-text">You can move these elements between these two containers.</p>
            </div>
        </div>
    </div>
    <div class="col-6"  [dragula]="'bag-1'">
       <h4>Second Container</h4>
       <div class="card card-warning text-white rounded-0 draggable">
          <div class="card-body">
              <h4 class="card-title">Move me!</h4>
              <p class="card-text">You can move these elements between these two containers.</p>
          </div>
      </div>
      <div class="card card-info text-white rounded-0 draggable">
          <div class="card-body">
              <h4 class="card-title">Move me!</h4>
              <p class="card-text">You can move these elements between these two containers.</p>
          </div>
      </div>
      <div class="card bg-gray text-white rounded-0 draggable">
          <div class="card-body">
              <h4 class="card-title">Move me!</h4>
              <p class="card-text">You can move these elements between these two containers.</p>
          </div>
      </div>
    </div>
</div>