<div class="row">
    <div class="col-12 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Bubble Chart</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body widget-body">              
                <div class="w-100 h-300p">
                    <ngx-charts-bubble-chart
                        [results]="bubble"
                        [showGridLines]="showGridLines"
                        [legend]="showLegend"
                        [legendTitle]="legendTitle"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        [autoScale]="autoScale"
                        [scheme]="colorScheme"
                        [schemeType]="schemeType"
                        [roundDomains]="roundDomains"
                        [tooltipDisabled]="tooltipDisabled"
                        [minRadius]="minRadius"
                        [maxRadius]="maxRadius">
                    </ngx-charts-bubble-chart> 
                </div>
            </div>
        </div>
    </div>   
</div>