<div class="row mt-1 mb-1">
    <div class="col">
        <div class="input-group mb-3 box-shadow"> 
            <div class="input-group-prepend">
                <span class="input-group-text border-top-0 border-left-0 border-bottom-0"><i class="fa fa-search"></i></span>
            </div>                   
            <input type="text" [(ngModel)]="searchText" placeholder="Search Your Prayers By Name..." class="form-control border-0">
            <!-- <div class="input-group-append">
                <span (click)="toggle('grid')" class="input-group-text border-top-0 border-right-0 border-bottom-0"><i class="fa fa-th"></i></span>
                <span (click)="toggle('list')" class="input-group-text border-top-0 border-right-0 border-bottom-0"><i class="fa fa-list"></i></span>
            </div> -->
        </div>
    </div>
</div>

<div class="row pl-4"> 
    <div class="col">
        <h6> My Prayers</h6>
    </div>    
</div>

<div *ngIf="type=='grid'" class="row p-4">    
    <div *ngFor="let detail of states | PrayerSearchPipe : searchText | paginate: { itemsPerPage: 8, currentPage: p }; let i = index;" class="col-xl-3 col-lg-4 mb-4">
        <div class="card" style="cursor:pointer;" (click)="onPlay(detail.Id)">
            <div class="card-header text-center">
                <h6>{{detail.prayer}}</h6>
            </div>
            <div class="card-body p-0">
                <img class="w-100" [src]="'../../../assets/img/app/step_' + (detail.step-1) + '.png'">
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="detail.percentStyle" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-7 text-left">
                        My Prayer Sent to Jesus
                    </div>
                    <div class="col-md-5 text-center">
                        <strong>{{detail.registered_dt}}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 text-left">
                        He Answered Me
                    </div>
                    <div class="col-md-5 text-center">
                        <strong>{{detail.updated_dt}}</strong>
                    </div>
                </div>
            </div>            
        </div>

    </div>
</div>

<!-- <div *ngIf="type=='list'" class="row p-4">
    <div class="col-12">
        <div class="table-responsive bg-white box-shadow">
            <table class="table table-hover">
                <thead>
                    <tr> 
                        <th>Prayer</th> 
                        <th>Register</th>             
                        <th>Update</th>
                        <th>Step</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let detail of states | PrayerSearchPipe : searchText | paginate: { itemsPerPage: 10, currentPage: p }">
                        <td class="align-middle text-truncate">{{detail.prayer}}</td>
                        <td class="align-middle text-truncate">{{detail.registered_dt}}</td>
                        <td class="align-middle text-truncate">{{detail.updated_dt}}</td>                        
                        <td class="align-middle text-truncate">{{detail.step}}</td>
                        <td class="align-middle">
                            <i *ngIf="!detail.full_grown" class="fa fa-user mr-2" placement="bottom" >Play</i>                            
                            <span *ngIf="detail.full_grown" class="badge badge-pill badge-info mr-1">full grown</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->

<div class="row">
    <div class="col-12">
        <div class="bg-white text-center">
            <pagination-controls autoHide="true" (pageChange)="p = $event" maxSize="3"></pagination-controls>
        </div>        
    </div>
</div>
