<div class="alert alert-info alert-dismissible fade show text-center" role="alert">
    <h4>Before you can Get a Prayer Seed, See Your Prayer Seeds growing, or Log In, you have to Sign Up below.</h4>
</div>

<div class="d-flex justify-content-center align-items-center w-100 h-100 register-container">
    <div class="col-xl-4 col-md-6 col-11">
        <div class="card border-0 box-shadow rounded-0">
            <div class="card-header d-flex justify-content-center align-items-center border-0 box-shadow">
                <!-- <i class="fa fa-registered" aria-hidden="true"></i> -->
                <img src="../../../assets/img/app/signup-Icon.png" style="width:72px;" />
            </div>
            <div class="card-body text-center pb-1">
                <h2>Register member</h2>
                <a routerLink="/login" class="transition">Already have an account? Sign in!</a>

                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="text-left mt-4">
                    <div *ngIf="bError" class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{errMsg}}
                    </div>                    
                    <div class="form-group">
                        <input [formControl]="name" class="form-control validation-field" placeholder="Full Name" type="text"> 
                        <small class="text-danger" *ngIf="form.get('name').touched">
                            <span *ngIf="form.get('name').hasError('required')">Full Name is required</span>
                            <span *ngIf="form.get('name').hasError('minlength')">Minimum of 3 characters</span>
                        </small>       
                    </div>
                    <div class="form-group">
                        <input [formControl]="email" class="form-control validation-field" placeholder="Email" type="text"> 
                        <small class="text-danger" *ngIf="form.get('email').touched">
                            <span *ngIf="form.get('email').hasError('required')">Email is required</span>
                            <span *ngIf="form.get('email').hasError('invalidEmail')">Invalid email address</span>
                        </small> 
                    </div>
                    <div class="form-group">
                        <input [formControl]="password" class="form-control validation-field" placeholder="Password" type="password" minlength="6">
                         <small class="text-danger" *ngIf="form.get('password').touched">
                            <span *ngIf="form.get('password').hasError('required')">Password is required</span>
                            <span *ngIf="form.get('password').hasError('minlength')">Password isn't long enough, minimum of 6 characters</span>
                        </small>                     
                    </div>
                    <div class="form-group">
                        <input [formControl]="confirmPassword" class="form-control validation-field" placeholder="Confirm Password" type="password">
                        <small class="text-danger" *ngIf="form.get('confirmPassword').touched">
                            <span *ngIf="form.get('confirmPassword').hasError('required')">Confirm Password is required</span>
                            <span *ngIf="form.get('confirmPassword').hasError('mismatchedPasswords')">Passwords do not match</span>
                        </small> 
                    </div>
                    <div class="form-group">
                        <p class="terms">By creating an account, you agree our <a class="transition terms" href="javascript:void(0);">Terms & Privacy Policy</a></p>
                    </div>
                    <div class="form-group">
                        <button [disabled]="!form.valid" class="btn btn-block" type="submit">Sign up</button>
                    </div>
                </form>  
            </div>
        </div>
    </div>
</div>