<h2>Form Validations</h2>
<p class="text-muted">Improve overall data quality by validating user input for accuracy and completeness. Angular supports validation for both it’s template driven and model driven approaches to forms. The model driven approach gives much greater control when it comes to validation.</p>

<div class="clearfix">            
    <ul class="nav nav-tabs custom top nav-justified">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#template-driven"><h5>Template driven</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#model-driven"><h5>Model driven</h5></a>
        </li>                         
    </ul>
</div>
<div class="tab-content top">
    <div class="tab-pane active" id="template-driven">
        <p class="text-muted">Template driven forms, as the name suggests, are forms built entirely in your UI. This is the typical way we built forms in the past and is useful for building very simple forms in Angular.</p>
        <div class="row">
            <div class="col-md-9 col-12 offset-md-1">

                <form class="form-horizontal" novalidate>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Required</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control" type="text" ngModel name="requried" #requried="ngModel" required/>
                            <small class="text-danger" *ngIf="requried?.errors?.required">Required error</small> 
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Min length</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control" type="text" ngModel name="minlength" #minlength="ngModel" minlength="5"/>
                            <small class="text-danger" *ngIf="minlength?.errors?.minlength">Minlength error</small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Max length</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control" type="text" ngModel name="maxlength" #maxlength="ngModel" maxlength="10" />
                            <small class="text-danger" *ngIf="maxlength?.errors?.maxlength">Maxlength error</small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Pattern</label>
                        <div class="col-sm-8 text-left">
                          <input class="form-control" type="text" ngModel name="pattern" #pattern="ngModel" pattern="[a-z]{6}"/>
                          <small class="text-danger" *ngIf="pattern?.errors?.pattern">Pattern error</small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Base64</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control" type="text" ngModel name="base64" #base64="ngModel" base64/>
                            <small class="text-danger" *ngIf="base64?.errors?.base64">Base64 error</small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Credit card</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control" type="text" ngModel name="creditCard" #creditCard="ngModel" creditCard/>
                            <small class="text-danger" *ngIf="creditCard?.errors?.creditCard">Credit card error</small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Date</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control" type="text" ngModel name="date" #date="ngModel" date/>
                            <small class="text-danger" *ngIf="date?.errors?.date">Date error</small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Date ISO</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control" type="text" ngModel name="dateISO" #dateISO="ngModel" dateISO/>
                            <small class="text-danger" *ngIf="dateISO?.errors?.dateISO">Date ISO error</small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Max date</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control" type="text" ngModel name="maxDate" #maxDate="ngModel" maxDate="2016-12-12"/>
                            <small class="text-danger" *ngIf="maxDate?.errors?.maxDate">Max date error</small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Min date</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control" type="text" ngModel name="minDate" #minDate="ngModel" minDate="2016-12-12"/>
                            <small class="text-danger" *ngIf="minDate?.errors?.minDate">Min date error</small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Digits</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control" type="text" ngModel name="digits" #digits="ngModel" digits/>
                            <small class="text-danger" *ngIf="digits?.errors?.digits">Digits error</small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Email</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control" type="text" ngModel name="email" #email="ngModel" email/>
                            <small class="text-danger" *ngIf="email?.errors?.email">Email error</small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Equal</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control" type="text" ngModel name="equal" #equal="ngModel" equal="aabbcc"/>
                            <small class="text-danger" *ngIf="equal?.errors?.equal">Equal error</small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Not equal</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control" type="text" ngModel name="notEqual" #notEqual="ngModel" notEqual="aabbcc"/>
                            <small class="text-danger" *ngIf="notEqual?.errors?.notEqual">Not equal error</small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Equal To</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control mb-1" type="text" ngModel name="password" #password="ngModel"/>
                            <input class="form-control" type="text" ngModel name="equalTo" #equalTo="ngModel" [equalTo]="password"/>
                            <small class="text-danger" *ngIf="equalTo?.errors?.equalTo">Equal To error</small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Not Equal To</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control mb-1" type="text" ngModel name="oldPassword" #oldPassword="ngModel"/>
                            <input class="form-control" type="text" ngModel name="notEqualTo" #notEqualTo="ngModel" [notEqualTo]="oldPassword"/>
                            <small class="text-danger" *ngIf="notEqualTo?.errors?.notEqualTo">Not Equal To error</small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Greater than</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control" type="text" ngModel name="gt" #gt="ngModel" gt="10"/>
                            <small class="text-danger" *ngIf="gt?.errors?.gt">Greater than error</small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Greater than equal</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control" type="text" ngModel name="gte" #gte="ngModel" gte="10"/>
                            <small class="text-danger" *ngIf="gte?.errors?.gte">Greater than equal error</small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Less than</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control" type="text" ngModel name="lt" #lt="ngModel" lt="5"/>
                            <small class="text-danger" *ngIf="lt?.errors?.lt">Less than error</small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Less than equal</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control" type="text" ngModel name="lte" #lte="ngModel" lte="5"/>
                            <small class="text-danger" *ngIf="lte?.errors?.lte">Less than equal error</small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Json</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control" type="text" ngModel name="json" #json="ngModel" json/>
                            <small class="text-danger" *ngIf="json?.errors?.json">Json error</small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Max</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control" type="text" ngModel name="max" #max="ngModel" max="5"/>
                            <small class="text-danger" *ngIf="max?.errors?.max">Max error</small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Min</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control" type="text" ngModel name="min" #min="ngModel" min="5"/>
                            <small class="text-danger" *ngIf="min?.errors?.min">Min error</small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Number</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control" type="text" ngModel name="number" #number="ngModel" number/>
                            <small class="text-danger" *ngIf="number?.errors?.number">Number error</small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Phone</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control" type="text" ngModel name="phone" #phone="ngModel" phone/>
                            <small class="text-danger" *ngIf="phone?.errors?.phone">Phone error</small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Range</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control" type="text" ngModel name="range" #range="ngModel" [range]="[4,9]"/>
                            <small class="text-danger" *ngIf="range?.errors?.range">Range error</small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                      <label class="col-sm-3">Range length</label>
                      <div class="col-sm-8 text-left">
                        <input class="form-control" type="text" ngModel name="rangeLength" #rangeLength="ngModel" [rangeLength]="[4,9]"/>
                        <small class="text-danger" *ngIf="rangeLength?.errors?.rangeLength">Range length error</small>
                      </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Url</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control" type="text" ngModel name="url" #url="ngModel" url/>
                            <small class="text-danger" *ngIf="url?.errors?.url">Url error</small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">uuid</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control" type="text" ngModel name="uuid" #uuid="ngModel" uuid="3"/>
                            <small class="text-danger" *ngIf="uuid?.errors?.uuid">uuid error</small>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <div class="tab-pane" id="model-driven">
        <p class="text-muted">Model driven or reactive forms, while similar to template driven forms, add an additional layer of complexity and functionality by having you to declare the model of the form in your component class.</p>
        <div class="row">
            <div class="col-md-9 col-12 offset-md-1">
                <form [formGroup]="form" (ngSubmit)="submitForm(form.value)">

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Required</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control validation-field" type="password" formControlName="required">
                            <small class="text-danger" *ngIf="form.controls.required.touched && form.controls.required.errors?.required">Field is required</small> 
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Min length (3)</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control validation-field" type="text" formControlName="minLength" minlength="3">
                            <small class="text-danger" *ngIf="form.controls.minLength.touched">
                                <span class="text-danger" *ngIf="form.controls.minLength.errors?.required">Field is required</span>
                                <span class="text-danger" *ngIf="form.controls.minLength.errors?.minlength">Minimum of 3 characters</span>
                            </small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Max length (10)</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control validation-field" type="text" formControlName="maxLength">
                            <small class="text-danger" *ngIf="form.controls.maxLength.touched">
                                <span class="text-danger" *ngIf="form.controls.maxLength.errors?.required">Field is required</span>
                                <span class="text-danger" *ngIf="form.controls.maxLength.errors?.maxlength">Maximum of 10 characters</span>
                            </small>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Base64</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control validation-field" type="text" formControlName="base64">
                            <small class="text-danger" *ngIf="form.controls.base64.errors?.base64">Base64 is required</small> 
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Credit card</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control validation-field" type="text" formControlName="creditCard">
                            <small class="text-danger" *ngIf="form.controls.creditCard.errors?.creditCard">e.g. 4242 4242 4242 4242</small> 
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Date</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control validation-field" type="text" formControlName="date">
                            <small class="text-danger" *ngIf="form.controls.date.errors?.date">e.g. 12.08.2017</small> 
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Date ISO</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control validation-field" type="text" formControlName="dateISO">
                            <small class="text-danger" *ngIf="form.controls.dateISO.errors?.dateISO">e.g. 2017-09-25</small> 
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Max date</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control validation-field" type="text" formControlName="maxDate">
                            <small class="text-danger" *ngIf="form.controls.maxDate.errors?.maxDate">Date can not be more than 2017-09-09</small> 
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Min date</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control validation-field" type="text" formControlName="minDate">
                            <small class="text-danger" *ngIf="form.controls.minDate.errors?.minDate">Date can not be less than 2017-09-09</small> 
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Email</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control validation-field" type="text" formControlName="email">
                            <small class="text-danger" *ngIf="form.controls.email.errors?.email">Invalid email address</small> 
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Equal</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control validation-field" type="text" formControlName="equal">
                            <small class="text-danger" *ngIf="form.controls.equal.errors?.equal">The value must be equal 5</small> 
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Not equal</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control validation-field" type="text" formControlName="notEqual">
                            <small class="text-danger" *ngIf="form.controls.notEqual.errors?.notEqual">The value must not be equal 10</small> 
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Equal To</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control validation-field mb-1" type="text" formControlName="password">
                            <small class="text-danger" *ngIf="form.controls.password.touched && form.controls.password.errors?.required">Password is required</small> 
                            <input class="form-control validation-field" type="text" formControlName="certainPassword">
                            <small class="text-danger" *ngIf="form.controls.certainPassword.errors?.equalTo">Passwords do not match</small> 
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Not Equal To</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control validation-field mb-1" type="text" formControlName="first">
                            <small class="text-danger" *ngIf="form.controls.first.touched && form.controls.first.errors?.required">Field is required</small> 
                            <input class="form-control validation-field" type="text" formControlName="second">
                            <small class="text-danger" *ngIf="form.controls.second.touched && form.controls.second.errors?.notEqualTo">The first value should not be equal to the second value</small> 
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Greater than</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control validation-field" type="text" formControlName="greaterThan">
                            <small class="text-danger" *ngIf="form.controls.greaterThan.errors?.gt">The value must be greater than 10</small> 
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Greater than equal</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control validation-field" type="text" formControlName="greaterThanEqual">
                            <small class="text-danger" *ngIf="form.controls.greaterThanEqual.errors?.gte">The value must be greater than or equal to 15</small> 
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Less than</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control validation-field" type="text" formControlName="lessThan">
                            <small class="text-danger" *ngIf="form.controls.lessThan.errors?.lt">The value must be less than 10</small> 
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Less than equal</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control validation-field" type="text" formControlName="lessThanEqual">
                            <small class="text-danger" *ngIf="form.controls.lessThanEqual.errors?.lte">The value must be less than or equal to 10</small> 
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Max</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control validation-field" type="text" formControlName="max">
                            <small class="text-danger" *ngIf="form.controls.max.errors?.max">The value must be maximum 10</small> 
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Min</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control validation-field" type="text" formControlName="min">
                            <small class="text-danger" *ngIf="form.controls.min.errors?.min">The value must be minimum 10</small> 
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Number</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control validation-field" type="text" formControlName="number">
                            <small class="text-danger" *ngIf="form.controls.number.errors?.number">The value must be only number</small> 
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Phone</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control validation-field" type="text" formControlName="phone">
                            <small class="text-danger" *ngIf="form.controls.phone.errors?.phone">US phone number e.g. 2135556677</small> 
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Range</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control validation-field" type="text" formControlName="range">
                            <small class="text-danger" *ngIf="form.controls.range.errors?.range">The value must be between 10 and 20</small> 
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Range length</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control validation-field" type="text" formControlName="rangeLength">
                            <small class="text-danger" *ngIf="form.controls.rangeLength.errors?.rangeLength">The value length must be between 5 and 9</small> 
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3">Url</label>
                        <div class="col-sm-8 text-left">
                            <input class="form-control validation-field" type="text" formControlName="url">
                            <small class="text-danger" *ngIf="form.controls.url.errors?.url">e.g. http://themeseason.com</small> 
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-8 offset-sm-3 text-center">
                            <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Validate &amp; Submit</button>
                        </div>
                    </div>                  

                </form>
            </div>
        </div>
    </div>
</div> 
