.visitors{
    .ngx-charts .label{
        font-size: 14px;
        p{
            color: #fff !important;
            .treemap-label{
                font-size: 20px;
                .flag-icon{
                    position: inherit;
                    font-size: 18px;
                }
            }
        }       
    }
}