<!-- <div class="d-flex justify-content-center w-100  home-content"> -->
    <div style="color:black;">
        <div class="row">
            <div class="col-md-12 text-center mt-4 p-4" id="home_toper">

            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-12 text-left">
                <div class="p-4" id="home_lefter">
                </div>
            </div>        
            <div class="col-md-6 col-12 text-left">
                <div class="p-4" id="home_righter">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="mt-4 w-100 d-flex justify-content-center">
                <button *ngIf="bGotContents" class="btn btn-primary" style="max-width: calc(100vw - 20px);" (click)="onGetPrayerSeed()"><h4>Send A Prayer Seed to Jesus</h4></button>
            </div>
        </div>
        
        <div class="row p-4">
            <div class="mt-6 p-4" id="home_footer">
            </div>
        </div>
    
    </div>
<!-- </div> -->
