<h2>Form controls</h2>
<p class="text-muted">Form controls supported in all example form elements. Form controls automatically receives global styling. The <code>.form-group</code> class is the easiest way to add some structure to form elements like &lt;input&gt;, &lt;textarea&gt; and &lt;select&gt;.</p>

<div class="row">
    <div class="col-lg-6 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Basic Inputs</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body pt-0 widget-body"> 
                <p class="text-left fs-13 text-gray">Basic Form Input with diffrent elements and styles.</p>
               
                <form>
                    <div class="form-group">
                        <label for="input-1">Text</label>
                        <input type="text" class="form-control" id="input-1">
                    </div>
                    <div class="form-group">
                        <label for="input-2">Password</label>
                        <input type="password" class="form-control" id="input-2">
                    </div>
                    <div class="form-group">
                        <label for="input-3">With placeholder</label>
                        <input type="text" class="form-control" id="input-3" placeholder="Enter your text here...">
                    </div>
                    <div class="form-group">
                        <label for="input-4">With default value</label>
                        <input type="text" class="form-control" id="input-4" value="This is default value">
                    </div>
                    <div class="form-group">
                        <label for="input-5">Rounded Corners</label>
                        <input type="text" class="form-control form-control-rounded" id="input-5">
                    </div>
                    <div class="form-group">
                        <label for="input-6">With help text</label>
                        <input type="text" class="form-control" id="input-6">
                        <small class="text-muted">A block of help text that breaks onto a new line and may extend beyond one line.</small>
                    </div>
                    <div class="form-group">
                        <label for="input-7">Disabled</label>
                        <input type="email" class="form-control" id="input-7" disabled value="admin@themeseason.com">
                    </div>                    
                    <div class="form-group">
                        <label for="textarea-1">Textarea</label>
                        <textarea class="form-control" id="textarea-1"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="input-8">Small Input</label>
                        <input type="text" class="form-control form-control-sm" id="input-8">
                    </div>
                    <div class="form-group">
                        <label for="input-9">Large Input</label>
                        <input type="text" class="form-control form-control-lg" id="input-9">
                    </div>
                    <div class="form-group">
                        <label for="input-10">Number</label>
                        <input type="number" class="form-control" value="42" id="input-10">
                    </div>
                    <div class="form-group">
                        <label for="input-11">Date and time</label>
                        <input type="datetime-local" class="form-control"  value="2011-08-19T13:45:00" id="input-11">                       
                    </div>
                    <div class="form-group">
                        <label for="input-12">Date</label>
                        <input type="date" class="form-control" value="2011-08-19" id="input-12">
                    </div>
                    <div class="form-group">
                        <label for="input-13">Month</label>
                        <input type="month" class="form-control" value="2011-08" id="input-13">
                    </div>
                    <div class="form-group">
                        <label for="input-14">Week</label>
                        <input type="week" class="form-control" value="2011-W33" id="input-14">
                    </div>
                    <div class="form-group">
                        <label for="input-15">Time</label>
                        <input type="time" class="form-control" value="13:45:00" id="input-15">
                    </div>
                    <div class="form-group">
                        <label for="input-16">Color</label>
                        <input type="color" class="form-control" value="#DD1B16" id="input-16">
                        <small class="text-muted"><strong>Note:</strong> type="color" is not supported in Internet Explorer 11 and earlier versions or Safari 9.1 and earlier versions.</small>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Input group</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body pt-0 widget-body">
                <p class="text-left fs-13 text-gray">Easily extend form controls by adding text, buttons, or button groups on either side of textual <code>&lt;input&gt;</code>s.</p>
               
                 <div class="form-group">
                     <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                    </div>
                </div>

                 <div class="form-group">
                    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                            <input type="text" class="form-control">
                        <div class="input-group-append"><span class="input-group-text">.00</span></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="email">
                        <span class="input-group-append">
                            <span class="input-group-text text-primary">@domain.com</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-append">
                            <button type="button" class="btn btn-info">Go!</button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                        <div class="input-group-prepend"><span class="input-group-text">0.00</span></div>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text"><input type="checkbox"></span>
                        </span>
                        <input type="text" class="form-control">
                    </div>
                </div>
              
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:void(0);">Action</a>
                                <a class="dropdown-item" href="javascript:void(0);">Another action</a>
                            </div>
                        </div>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-secondary">Action</button>
                            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:void(0);">Action</a>
                                <a class="dropdown-item" href="javascript:void(0);">Another action</a>
                            </div>
                        </div>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">                        
                        <input type="text" class="form-control">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary">Action</button>
                            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:void(0);">Action</a>
                                <a class="dropdown-item" href="javascript:void(0);">Another action</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend dropright">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropright
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:void(0);">Action</a>
                                <a class="dropdown-item" href="javascript:void(0);">Another action</a>
                            </div>
                        </div>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">                        
                        <input type="text" class="form-control">
                        <div class="input-group-append dropleft">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropleft
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:void(0);">Action</a>
                                <a class="dropdown-item" href="javascript:void(0);">Another action</a>
                            </div>
                        </div>
                    </div>
                </div>                

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-danger" type="button">Hate it</button>
                        </div>
                        <input type="text" class="form-control" placeholder="Product name">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button">Love it</button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group input-group-sm">                        
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-paperclip"></i></span>
                        </div>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group input-group-lg">
                         <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-paperclip"></i></span>
                        </div>
                        <input type="text" class="form-control">
                    </div>
                </div>               

                <h5 class="text-left mt-4">Input colors</h5>

                <div class="form-group has-success">
                    <label class="form-control-label" for="inputSuccess1">Input with success</label>
                    <input type="text" class="form-control form-control-success" id="inputSuccess1">
                </div>

                <div class="form-group has-warning">
                    <label class="form-control-label" for="inputWarning1">Input with warning</label>
                    <input type="text" class="form-control form-control-warning" id="inputWarning1">
                </div>

                <div class="form-group has-danger">
                    <label class="form-control-label" for="inputDanger1">Input with danger</label>
                    <input type="text" class="form-control form-control-danger" id="inputDanger1">
                </div>

                 <div class="form-group">
                    <label for="input-primary" class="text-primary">Primary input</label>
                    <input type="text" class="form-control bg-primary text-white" id="input-primary">
                </div>

                <div class="form-group">
                    <label for="input-success" class="text-success">Success input</label>
                    <input type="text" class="form-control bg-success text-white" id="input-success">
                </div>

                <div class="form-group">
                    <label for="input-info" class="text-info">Info input</label>
                    <input type="text" class="form-control bg-info text-white" id="input-info">
                </div>

                <div class="form-group">
                    <label for="input-warning" class="text-warning">Warning input</label>
                    <input type="text" class="form-control bg-warning text-white" id="input-warning">
                </div>

                <div class="form-group">
                    <label for="input-danger" class="text-danger">Danger input</label>
                    <input type="text" class="form-control bg-danger text-white" id="input-danger">
                </div>   

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Checkboxes and Radio Buttons</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body pt-0 pb-0 widget-body">
                <div class="row mt-2">
                    <div class="col-md-4 mb-3">   
                        <h6>Custom checkbox</h6>
                        <div class="form-group">                        
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkboxDefault" checked>
                                <label class="custom-control-label" for="checkboxDefault">Custom</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input checkbox-primary" id="checkboxPrimary" checked>
                                <label class="custom-control-label" for="checkboxPrimary">Primary</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input checkbox-success" id="checkboxSuccess" checked>
                                <label class="custom-control-label" for="checkboxSuccess">Success</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input checkbox-info" id="checkboxInfo" checked>
                                <label class="custom-control-label" for="checkboxInfo">Info</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input checkbox-warning" id="checkboxWarning" checked>
                                <label class="custom-control-label" for="checkboxWarning">Warning</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input checkbox-danger" id="checkboxDanger" checked>
                                <label class="custom-control-label" for="checkboxDanger">Danger</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input checkbox-dark-gray" id="checkboxMain" checked>
                                <label class="custom-control-label" for="checkboxMain">Dark gray</label>
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-4 mb-3">   
                        <h6>Circled checkbox</h6>
                        <div class="form-group">                        
                            <div class="custom-control custom-checkbox checkbox-circle">
                                <input type="checkbox" class="custom-control-input" id="checkboxDefault2" checked>
                                <label class="custom-control-label" for="checkboxDefault2">Custom</label>
                            </div>
                            <div class="custom-control custom-checkbox checkbox-circle">
                                <input type="checkbox" class="custom-control-input checkbox-primary" id="checkboxPrimary2" checked>
                                <label class="custom-control-label" for="checkboxPrimary2">Primary</label>
                            </div>
                            <div class="custom-control custom-checkbox checkbox-circle">
                                <input type="checkbox" class="custom-control-input checkbox-success" id="checkboxSuccess2" checked>
                                <label class="custom-control-label" for="checkboxSuccess2">Success</label>
                            </div>
                            <div class="custom-control custom-checkbox checkbox-circle">
                                <input type="checkbox" class="custom-control-input checkbox-info" id="checkboxInfo2" checked>
                                <label class="custom-control-label" for="checkboxInfo2">Info</label>
                            </div>
                            <div class="custom-control custom-checkbox checkbox-circle">
                                <input type="checkbox" class="custom-control-input checkbox-warning" id="checkboxWarning2" checked>
                                <label class="custom-control-label" for="checkboxWarning2">Warning</label>
                            </div>
                            <div class="custom-control custom-checkbox checkbox-circle">
                                <input type="checkbox" class="custom-control-input checkbox-danger" id="checkboxDanger2" checked>
                                <label class="custom-control-label" for="checkboxDanger2">Danger</label>
                            </div>
                            <div class="custom-control custom-checkbox checkbox-circle">
                                <input type="checkbox" class="custom-control-input checkbox-dark-gray" id="checkboxMain2" checked>
                                <label class="custom-control-label" for="checkboxMain2">Dark gray</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">   
                        <h6>Custom radio buttons</h6>
                        <div class="form-group">                        
                            <div class="custom-control custom-radio">
                                <input type="radio" name="radio" class="custom-control-input" id="radioDefault">
                                <label class="custom-control-label" for="radioDefault">Custom</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="radio" class="custom-control-input radio-primary" id="radioPrimary">
                                <label class="custom-control-label" for="radioPrimary">Primary</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="radio" class="custom-control-input radio-success" id="radioSuccess" checked>
                                <label class="custom-control-label" for="radioSuccess">Success</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="radio" class="custom-control-input radio-info" id="radioInfo">
                                <label class="custom-control-label" for="radioInfo">Info</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="radio" class="custom-control-input radio-warning" id="radioWarning">
                                <label class="custom-control-label" for="radioWarning">Warning</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="radio" class="custom-control-input radio-danger" id="radioDanger">
                                <label class="custom-control-label" for="radioDanger">Danger</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="radio" class="custom-control-input radio-dark-gray" id="radioMain">
                                <label class="custom-control-label" for="radioMain">Dark gray</label>
                            </div>
                        </div>
                    </div>  

                </div>

            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Selects</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>         
            </div>
            <div class="card-body pt-0 widget-body"> 
               
                <div class="row">   
                    <div class="col-lg-6 mb-4"> 

                        <div class="form-group">
                            <label for="exampleSelect1">Basic select</label>
                            <select class="form-control" id="exampleSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleSelect3">Custom select</label>
                            <select class="form-control custom-select" id="exampleSelect3">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleSelect2">Multiple select</label>
                            <select multiple class="form-control" id="exampleSelect2">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>             
                        
                    </div>
                    <div class="col-lg-6">

                        <p class="text-left fs-13 text-gray">Customizable dropdown multiselect in AngularX, TypeScript with bootstrap css. More information: <a href="https://github.com/softsimon/angular-2-dropdown-multiselect" target="_blank">Angular 2 Dropdown Multiselect</a></p>
                        <div class=" mb-4">   
                            <h6>Default</h6>
                            <ss-multiselect-dropdown [options]="firstControlOptions" [(ngModel)]="firstControlModel" (ngModelChange)="onChange()"></ss-multiselect-dropdown>
                        </div> 
                        <div class="mb-4">   
                            <h6>Select all/none</h6>
                            <ss-multiselect-dropdown [options]="secondControlOptions" [texts]="secondControlTexts" [settings]="secondControlSettings" [(ngModel)]="secondControlModel"></ss-multiselect-dropdown>
                        </div>
                        <div>   
                            <h6>Select with search filter</h6>
                            <ss-multiselect-dropdown class="custom-multiselect" [options]="thirdControlOptions" [texts]="thirdControlTexts" [settings]="thirdControlSettings" [(ngModel)]="thirdControlModel"></ss-multiselect-dropdown>
                        </div>       
                      
                    </div>                   
                </div>  
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Datepicker</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>         
            </div>
            <div class="card-body pt-0 widget-body"> 
                <p class="text-left fs-13 text-gray">A lightweight and highly configurable datepicker directive. More information: <a href="https://ng-bootstrap.github.io/#/components/datepicker" target="_blank">ng-bootstrap datepicker</a></p>
               
                <div class="row">   
                    <div class="col-lg-4 mb-4"> 
                        <h6>Basic datepicker</h6>
                        <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
                        <hr/>
                        <button class="btn btn-sm btn-outline-primary" (click)="selectToday()">Select Today</button>
                        <button class="btn btn-sm btn-outline-primary" (click)="dp.navigateTo()">To current month</button>
                        <button class="btn btn-sm btn-outline-primary" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb 2013</button>
                        <hr/>
                        <pre>Month: {{ date.month }}.{{ date.year }}</pre>
                        <pre>Model: {{ model | json }}</pre>                        
                    </div>
                    <div class="col-lg-8 mb-4">
                        <h6>Multiple months</h6>
                        <ngb-datepicker [displayMonths]="displayMonths" [navigation]="navigation"></ngb-datepicker>
                        <hr/>
                        <div class="form-group d-inline-block align-top">
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [displayMonths]="displayMonths" [navigation]="navigation" ngbDatepicker #d="ngbDatepicker">
                                <div class="input-group-append" (click)="d.toggle()">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <select class="custom-select mw-100 w-25" [(ngModel)]="displayMonths">
                            <option [ngValue]="1">One month</option>
                            <option [ngValue]="2">Two months</option>
                            <option [ngValue]="3">Three months</option>
                        </select>
                        <select class="custom-select mw-100 w-25" [(ngModel)]="navigation">
                            <option value="none">Without navigation</option>
                            <option value="select">With select boxes</option>
                            <option value="arrows">Without select boxes</option>
                        </select>                      
                    </div>         
                </div> 

                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <h6>Datepicker in a popup</h6>
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="modelPopup" ngbDatepicker #p="ngbDatepicker">
                                <div class="input-group-append" (click)="p.toggle()">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>
                                </div>
                            </div>
                        </form>
                        <hr/>
                        <pre>Model: {{ modelPopup | json }}</pre>
                    </div> 
                    <div class="col-lg-4 mb-4">
                        <h6>Custom day view</h6>
                        <p class="text-left fs-13 text-gray">This datepicker uses a custom template to display days. All week-ends are displayed with an orange background.</p>
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd"
                                        name="dp" [(ngModel)]="modelCustom" ngbDatepicker [dayTemplate]="customDay" [markDisabled]="isDisabled" #dc="ngbDatepicker">
                                <div class="input-group-append" (click)="dc.toggle()" >
                                     <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>
                                </div>
                            </div>
                        </form>
                        <ng-template #customDay let-date="date" let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled">
                            <span class="custom-day" [class.weekend]="isWeekend(date)" [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
                                {{ date.day }}
                            </span>
                        </ng-template>
                    </div> 
                    <div class="col-lg-4">
                        <h6>Disabled datepicker</h6>
                        <ngb-datepicker [(ngModel)]="modelDisabled" [disabled]="disabled"></ngb-datepicker>
                        <hr/>
                        <button class="btn btn-sm btn-outline-{{disabled ? 'danger' : 'success'}}" (click)="disabled = !disabled">
                            {{ disabled ? "Disabled" : "Enabled"}}
                        </button>

                    </div> 
                </div> 

            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Timepicker</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>         
            </div>
            <div class="card-body pt-0 widget-body"> 
                <p class="text-left fs-13 text-gray">A lightweight & configurable timepicker directive. More information: <a href="https://ng-bootstrap.github.io/#/components/timepicker" target="_blank">ng-bootstrap timepicker</a></p>
               
                <div class="row">   
                    <div class="col-lg-4 col-md-6 mb-4"> 
                        <h6>Basic timepicker</h6>
                        <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
                        <hr class="mt-5">
                        <pre>Selected time: {{time | json}}</pre>                  
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4"> 
                        <h6>Meridian</h6>
                        <ngb-timepicker [(ngModel)]="timeMeridian" [meridian]="meridian"></ngb-timepicker>
                        <button class="btn btn-sm btn-outline-{{meridian ? 'success' : 'danger'}}" (click)="meridian = !meridian">
                            Meridian - {{meridian ? "ON" : "OFF"}}
                        </button>
                        <hr>
                        <pre>Selected time: {{timeMeridian | json}}</pre>                
                    </div>  
                    <div class="col-lg-4 col-md-6 mb-4"> 
                        <h6>Basic timepicker</h6>
                        <ngb-timepicker [(ngModel)]="timeSeconds" [seconds]="seconds"></ngb-timepicker>
                        <button class="btn btn-sm btn-outline-{{seconds ? 'success' : 'danger'}}" (click)="seconds = !seconds">
                            Seconds - {{seconds ? "ON" : "OFF"}}
                        </button>
                        <hr>
                        <pre>Selected time: {{timeSeconds | json}}</pre>               
                    </div> 
                    <div class="col-lg-4 col-md-6 mb-4"> 
                        <h6>Spinners</h6>  
                        <ngb-timepicker [(ngModel)]="timeSpinners" [spinners]="spinners"></ngb-timepicker>
                        <button class="mt-3 btn btn-sm btn-outline-{{spinners ? 'success' : 'danger'}}" (click)="spinners = !spinners">
                            Spinners - {{spinners ? "ON" : "OFF"}}
                        </button>            
                    </div> 
                    <div class="col-lg-4 col-md-6 mb-4"> 
                        <h6>Custom steps</h6>
                        <ngb-timepicker [(ngModel)]="timeCustomSteps" [seconds]="true" [hourStep]="hourStep" [minuteStep]="minuteStep" [secondStep]="secondStep"></ngb-timepicker>
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="changeHourStep">Hour Step</label>
                                <input id="changeHourStep" type="number" class="form-control form-control-sm" [(ngModel)]="hourStep" />
                            </div>
                            <div class="col-sm-3">
                                <label for="changeMinuteStep">Minute Step</label>
                                <input id="changeMinuteStep" type="number" class="form-control form-control-sm" [(ngModel)]="minuteStep" />
                            </div>
                            <div class="col-sm-3">
                                <label for="changeSecondStep">Second Step</label>
                                <input id="changeSecondStep" type="number" class="form-control form-control-sm" [(ngModel)]="secondStep" />
                            </div>
                        </div>
                        <hr>
                        <pre>Selected time: {{timeCustomSteps | json}}</pre>             
                    </div>
                    <div class="col-lg-4 col-md-6"> 
                        <h6>Custom validation</h6> 
                        <p class="text-left fs-13 text-gray">Illustrates custom validation, you have to select time between 12:00 and 13:59</p>
                        <div class="form-group" [class.has-success]="ctrl.valid" [class.has-danger]="!ctrl.valid">
                            <ngb-timepicker [(ngModel)]="timeValidation" [formControl]="ctrl" required></ngb-timepicker>
                            <div class="form-control-feedback">
                                <div *ngIf="ctrl.valid">Great choice</div>
                                <div *ngIf="ctrl.errors && ctrl.errors['required']">Select some time during lunchtime</div>
                                <div *ngIf="ctrl.errors && ctrl.errors['tooLate']">Oh no, it's way too late</div>
                                <div *ngIf="ctrl.errors && ctrl.errors['tooEarly']">It's a bit too early</div>
                            </div>
                        </div>
                        <hr>
                        <pre>Selected time: {{timeValidation | json}}</pre>            
                    </div>            
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Rating</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>         
            </div>
            <div class="card-body pt-0 widget-body"> 
                <p class="text-left fs-13 text-gray">Rating directive that will take care of visualising a star rating bar. More information: <a href="https://ng-bootstrap.github.io/#/components/rating" target="_blank">ng-bootstrap rating</a></p>
               
                <div class="row">   
                    <div class="col-lg-4 col-md-6 mb-4"> 
                        <h6>Basic demo</h6> 
                        <ngb-rating [(rate)]="currentRate"></ngb-rating>
                        <hr>
                        <pre>Rate: <b>{{currentRate}}</b></pre>                 
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4"> 
                        <h6>Events and readonly ratings</h6>
                        <ngb-rating [(rate)]="selected" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="readonly"></ngb-rating>
                        <hr>
                        <pre>Selected: <b>{{selected}}</b><br>Hovered: <b>{{hovered}}</b></pre>
                        <button class="btn btn-sm btn-outline-{{readonly ? 'danger' : 'success'}}" (click)="readonly = !readonly">
                            {{ readonly ? "readonly" : "editable"}}
                        </button>               
                    </div>  
                    <div class="col-lg-4 col-md-6 mb-4"> 
                        <h6>Custom star template</h6>
                        <p class="text-left fs-13 text-gray">Custom rating template provided as child element</p>
                        <ngb-rating [(rate)]="currentRateCustom">
                        <ng-template let-fill="fill">
                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                        </ng-template>
                        </ngb-rating>
                        <hr>
                        <pre>Rate: <b>{{currentRateCustom}}</b></pre>             
                    </div> 
                    <div class="col-md-6 mb-4"> 
                        <h6>Custom decimal rating</h6>
                        <p class="text-left fs-13 text-gray">Custom rating template provided via a variable. Shows fine-grained rating display</p>
                        <ng-template #t let-fill="fill">
                            <span *ngIf="fill === 100" class="star full">&hearts;</span>
                            <span *ngIf="fill === 0" class="star">&hearts;</span>
                            <span *ngIf="fill < 100 && fill > 0" class="star">
                                <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                            </span>
                        </ng-template>
                        <ngb-rating [(rate)]="currentRateDecimal" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                        <hr>
                        <pre>Rate: <b>{{currentRateDecimal}}</b></pre>
                        <button class="btn btn-sm btn-outline-primary" (click)="currentRateDecimal = 1.35">1.35</button>
                        <button class="btn btn-sm btn-outline-primary" (click)="currentRateDecimal = 4.72">4.72</button>            
                    </div> 
                    <div class="col-md-6"> 
                        <h6>Form integration</h6> 
                        <p class="text-left fs-13 text-gray">NgModel and reactive forms can be used without the 'rate' binding</p>
                        <div class="form-group" [class.has-success]="ctrlFormIntegration.valid" [class.has-danger]="ctrlFormIntegration.invalid">
                            <ngb-rating [formControl]="ctrlFormIntegration"></ngb-rating>
                            <div class="form-control-feedback">
                                <div *ngIf="ctrlFormIntegration.valid">Thanks!</div>
                                <div *ngIf="ctrlFormIntegration.errors">Please rate us</div>
                            </div>
                        </div>
                        <hr>
                        <pre>Model: <b>{{ ctrlFormIntegration.value }}</b></pre>
                        <button class="btn btn-sm btn-outline-{{ ctrlFormIntegration.disabled ? 'danger' : 'success'}}" (click)="toggle()">
                            {{ ctrlFormIntegration.disabled ? "control disabled" : " control enabled" }}
                        </button>
                        <button class="btn btn-sm btn-outline-primary" (click)="ctrlFormIntegration.setValue(null)">Clear</button>          
                    </div>          
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
     <div class="col">
        
        <div widget class="card border-0 box-shadow">
            <div class="card-header  transparent border-0 text-muted">
                <h5 class="mb-0">Uploads</h5>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body widget-body">
                
                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <h6>File upload</h6>
                        <app-file-uploader></app-file-uploader>

                        <h6>Image upload</h6>
                        <app-image-uploader></app-image-uploader>
                    </div>

                    <div class="col-lg-8 mb-4">
                        <h6 class="text-center">Multiple Image Uploader</h6>
                        <app-multiple-image-uploader></app-multiple-image-uploader>
                    </div>
                </div>                
               
            </div>
        </div>

    </div>    
</div>

