<div class="d-flex justify-content-center align-items-center w-100 h-100 login-container">
    <div class="col-xl-4 col-md-4 col-10">
        <div class="card border-0 box-shadow rounded-0">
            <div class="card-header d-flex justify-content-center align-items-center border-0 box-shadow">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <div class="card-body text-center pb-1">
                <h2>Reset Password</h2>

                <form [formGroup]="form" class="text-left mt-4">

                    <div *ngIf="bGotError" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> -->
                        {{errorMsg}}
                    </div>                    
                    

                    <div class="form-group" *ngIf="!bSuccess">
                        <label class="form-control-label">Email</label>
                        <input [formControl]="email" class="form-control validation-field" placeholder="Email"
                            type="text">
                        <small class="text-danger" *ngIf="form.get('email').touched && form.get('email').hasError('required')">Email is required</small>
                        <small class="text-danger" *ngIf="form.get('email').touched && form.get('email').hasError('email')">Invalid email address</small>
                    </div>

                    <div class="form-group"  *ngIf="!bSuccess">
                        <label class="form-control-label">Password</label>
                        <input [formControl]="password" class="form-control validation-field" placeholder="Password"
                            type="password">
                        <small class="text-danger"
                            *ngIf="form.get('password').touched && form.get('password').hasError('required')">Password is
                            required</small>
                        <small class="text-danger"
                            *ngIf="form.get('password').touched && form.get('password').hasError('minlength')">Password
                            isn't
                            long enough, minimum of 6 characters</small>
                    </div>

                    <div class="form-group" *ngIf="!bSuccess">
                        <label class="form-control-label">Confirm Password</label>
                        <input [formControl]="confirmPassword" class="form-control validation-field" placeholder="Confirm Password"
                            type="password">
                        <small class="text-danger"
                            *ngIf="form.get('confirmPassword').touched && form.get('confirmPassword').hasError('required')">Password is
                            required</small>
                        <small class="text-danger"
                            *ngIf="form.get('confirmPassword').touched && form.get('confirmPassword').hasError('equalTo')">Passwords
                            do
                            not match</small>
                    </div>                    

                    <div class="form-group" *ngIf="!bSuccess">
                        <button [disabled]="!form.valid" class="btn btn-block btn-danger" (click)="onSubmit();">Reset
                            Password</button>
                    </div>


                    <div *ngIf="bSuccess" class="alert alert-info alert-dismissible fade show" role="alert">
                        The password was changed!
                    </div>

                    <div class="form-group" *ngIf="bSuccess">
                        <button class="btn btn-block btn-danger" routerLink="/login">Go to Login</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>