<div class="row mb-1">
    <div class="col">
        <div class="input-group mb-3 box-shadow"> 
            <div class="input-group-prepend">
                <span class="input-group-text border-top-0 border-left-0 border-bottom-0"><i class="fa fa-search"></i></span>
            </div>                   
            <input type="text" [(ngModel)]="searchText" placeholder="Search user by name..." class="form-control border-0">
            <div class="input-group-append">
                <span (click)="openModal(modalContent, null)" class="input-group-text border-top-0 border-right-0 border-bottom-0"><i class="fa fa-user-plus"></i></span>
                <span (click)="toggle('grid')" class="input-group-text border-top-0 border-right-0 border-bottom-0"><i class="fa fa-th"></i></span>
                <span (click)="toggle('list')" class="input-group-text border-top-0 border-right-0 border-bottom-0"><i class="fa fa-list"></i></span>
            </div>
        </div>
    </div>
</div>

<div *ngIf="type=='grid'" class="row">
    <div *ngFor="let user of users | UserSearchPipe : searchText | paginate: { itemsPerPage: 6, currentPage: p }; let i = index;" class="col-xl-4 col-lg-6 mb-4">
        <div class="flip">
            <div class="content">
                <div class="front">
                    <div class="card border-0 box-shadow rounded-0">
                        <div class="card-header border-0 rounded-0 text-muted">
                            <h5 class="mb-0">
                                <i *ngIf="!user.settings.isDeleted" class="fa fa-user mr-2" [ngClass]="{ 'text-success': user.settings.isActive, 
                                                                        'text-inverse': !user.settings.isActive}" placement="bottom" [ngbTooltip]="(user.settings.isActive) ? 'active' : 'passive'"></i>
                                <i *ngIf="user.settings.isDeleted" class="fa fa-user mr-2 text-danger" placement="bottom" [ngbTooltip]="'deleted'"></i>
                                {{user.profile.name}} {{user.profile.surname}}
                            </h5>
                            <div class="widget-controls"> 
                                <a (click)="openMenuAssign($event)" href="javascript:void(0);" class="transition"><i class="fa fa-bars"></i></a> 
                                <a (click)="openModal(modalContent, user)" href="javascript:void(0);" class="transition"><i class="fa fa-pencil"></i></a>             
                                <a (click)="deleteUser(user)" href="javascript:void(0);" class="transition"><i class="fa fa-trash"></i></a> 
                            </div>        
                        </div>
                        <div class="card-body pt-3">
                            
                            <div class="media">
                                <div class="d-flex flex-column justify-content-center">
                                    <img *ngIf="user.profile.image" class="rounded-circle" [src]="user.profile.image" width="80">
                                    <img *ngIf="!user.profile.image" class="rounded-circle" src="assets/img/users/default-user.jpg" width="80">
                                    <ul class="list-inline mb-0 mt-1 mx-auto fs-12 text-gray">
                                        <li class="list-inline-item mr-0">
                                            <span class="fa-stack">
                                                <i class="fa fa-square-o fa-stack-2x"></i>
                                                <i class="fa fa-facebook fa-stack-1x"></i>
                                            </span>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <span class="fa-stack">
                                                <i class="fa fa-square-o fa-stack-2x"></i>
                                                <i class="fa fa-twitter fa-stack-1x"></i>
                                            </span>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <span class="fa-stack">
                                                <i class="fa fa-square-o fa-stack-2x"></i>
                                                <i class="fa fa-google fa-stack-1x"></i>
                                            </span>
                                        </li>                                
                                    </ul>
                                </div>                    
                                <div class="media-body ml-3">
                                    <div class="row">  
                                        <div class="col-4 text-gray text-right pr-0 font-italic text-truncate">company:</div>
                                        <div class="col-8 pl-2 text-truncate">{{user.work.company}}</div>                          
                                        <div class="col-4 text-gray text-right pr-0 font-italic text-truncate">position:</div>
                                        <div class="col-8 pl-2 text-truncate">{{user.work.position}}</div>
                                        <div class="col-4 text-gray text-right pr-0 font-italic text-truncate">username:</div>
                                        <div class="col-8 pl-2 text-truncate">{{user.username}}</div>
                                        <div class="col-4 text-gray text-right pr-0 font-italic text-truncate">email:</div>
                                        <div class="col-8 pl-2 text-truncate">{{user.contacts.email}}</div>
                                        <div class="col-4 text-gray text-right pr-0 font-italic text-truncate">joined:</div>
                                        <div class="col-8 pl-2 text-truncate fs-12 pt-2p">{{user.settings.joinedDate | date:"dd MMMM, yyyy 'at' HH:mm"}}</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="back">
                    <div class="card border-0 box-shadow rounded-0">
                        <div class="card-header border-0 rounded-0 text-muted">
                            <h5 class="mb-0">
                                <i *ngIf="!user.settings.isDeleted" class="fa fa-user mr-2" [ngClass]="{ 'text-success': user.settings.isActive, 
                                                                        'text-inverse': !user.settings.isActive}" placement="bottom" [ngbTooltip]="(user.settings.isActive) ? 'active' : 'passive'"></i>
                                <i *ngIf="user.settings.isDeleted" class="fa fa-user mr-2 text-danger" placement="bottom" [ngbTooltip]="'deleted'"></i>
                                {{user.profile.name}} {{user.profile.surname}}
                            </h5>
                            <div class="widget-controls"> 
                                <a (click)="closeMenuAssign($event)" href="javascript:void(0);" class="transition"><i class="fa fa-times"></i></a>
                            </div>        
                        </div>
                        <div class="card-body pt-3">            
                            <ss-multiselect-dropdown id="menuSelect{{user.id}}" class="custom-multiselect"
                                [options]="menuSelectOptions" 
                                [texts]="menuSelectTexts" 
                                [settings]="menuSelectSettings"
                                [(ngModel)]="user.menuIds">
                            </ss-multiselect-dropdown>
                            <div class="w-100 text-center pt-3">
                                <button class="btn btn-success" (click)="assignMenuItemsToUser(user)"> Assign menu items to user </button>
                                <p class="text-gray fs-13 mt-2">Logout and login to see result.</p>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="type=='list'" class="row">
    <div class="col-12">
        <div class="table-responsive bg-white box-shadow">
            <table class="table table-hover">
                <thead>
                    <tr> 
                        <th></th>
                        <th>Full Name</th> 
                        <th>Company</th>                      
                        <th>Position</th>                        
                        <th>Username</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Joined</th>                        
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users | UserSearchPipe : searchText | paginate: { itemsPerPage: 6, currentPage: p }">                        
                        <td class="align-middle">
                            <img *ngIf="user.profile.image" class="rounded-circle" [src]="user.profile.image" width="40">
                            <img *ngIf="!user.profile.image" class="rounded-circle" src="assets/img/users/default-user.jpg" width="40">
                        </td>
                        <td class="align-middle text-truncate">{{user.profile.name}} {{user.profile.surname}}</td>
                        <td class="align-middle text-truncate">{{user.work.company}}</td>
                        <td class="align-middle text-truncate">{{user.work.position}}</td>                        
                        <td class="align-middle text-truncate">{{user.username}}</td>
                        <td class="align-middle text-truncate">{{user.contacts.email}}</td>
                        <td class="align-middle">
                            <i *ngIf="!user.settings.isDeleted" class="fa fa-user mr-2" [ngClass]="{ 'text-success': user.settings.isActive, 
                                                                                                     'text-inverse': !user.settings.isActive}" placement="bottom" [ngbTooltip]="(user.settings.isActive) ? 'active' : 'passive'"></i>
                            <i *ngIf="user.settings.isDeleted" class="fa fa-user mr-2 text-danger" placement="bottom" [ngbTooltip]="'deleted'"></i>
                        </td>
                        <td class="align-middle text-truncate">{{user.settings.joinedDate | date:"dd MMMM, yyyy 'at' HH:mm"}}</td>
                        <td class="align-middle">
                            <div class="btn-group" role="group">
                                <button class="btn btn-secondary btn-sm" (click)="openModal(modalContent, user)"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-secondary btn-sm" (click)="deleteUser(user)"><i class="fa fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="bg-white text-center">
            <pagination-controls autoHide="true" (pageChange)="p = $event" maxSize="3"></pagination-controls>
        </div>        
    </div>
</div>

<ng-template #modalContent>
    <div class="modal-body bg-gray">
        <div class="row">
            <div class="col-12 vertical-tabs">                
                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="row px-3">
                    <ul class="nav flex-column left col-3 border-0 rounded-0 mr-0 bg-light">                    
                        <img *ngIf="user.profile.image" class="w-100" [src]="user.profile.image">
                        <img *ngIf="!user.profile.image" class="w-100" src="assets/img/users/default-user.jpg">                
                        <li class="nav-item bg-light">
                            <a class="nav-link active" href="#basic" data-toggle="tab">Basic</a>
                        </li>
                        <li class="nav-item bg-light">
                            <a class="nav-link" href="#personal" data-toggle="tab">Personal</a>
                        </li>                        
                        <li class="nav-item bg-light">
                            <a class="nav-link" href="#work" data-toggle="tab">Work</a>
                        </li>
                        <li class="nav-item bg-light">
                            <a class="nav-link" href="#contacts" data-toggle="tab">Contacts</a>
                        </li>
                        <li class="nav-item bg-light">
                            <a class="nav-link" href="#social" data-toggle="tab">Social life</a>
                        </li>
                        <li class="nav-item bg-light">
                            <a class="nav-link" href="#settings" data-toggle="tab">Settings</a>
                        </li>                 
                    </ul>                    
                    <div class="tab-content col-9 border-0">
                        <div class="tab-pane active" id="basic">                                                
                            <div class="form-group">
                                <label class="text-gray">Username</label>
                                <input formControlName="username" class="form-control validation-field" type="text">
                                <small class="text-danger" *ngIf="form.controls.username.touched && form.controls.username.errors?.required">Username is required</small>                              
                                <small class="text-danger" *ngIf="form.controls.username.touched && form.controls.username.errors?.minlength">Username isn't long enough, minimum of 5 characters</small>
                            </div>
                            <div class="form-group">
                                <label class="text-gray">Password</label>
                                <input formControlName="password" class="form-control validation-field" type="password">
                                <small class="text-danger" *ngIf="form.controls.password.touched && form.controls.password.errors?.required">Password is required</small>                              
                                <small class="text-danger" *ngIf="form.controls.password.touched && form.controls.password.errors?.minlength">Password isn't long enough, minimum of 6 characters</small>
                            </div>                            
                        </div>                  
                        <div class="tab-pane" id="personal" formGroupName="profile">
                            <div class="form-group">
                                <label class="text-gray">Name</label>
                                <input formControlName="name" class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <label class="text-gray">Surname</label>
                                <input formControlName="surname" class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <label class="text-gray">Birthday</label>
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="birthday" ngbDatepicker #birthdayDp="ngbDatepicker">
                                    <div class="input-group-append" (click)="birthdayDp.toggle()">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-gray mr-2">Gender</label>
                                <label *ngFor="let gender of genders; let i = index;" class="custom-control custom-radio custom-control-inline">
                                    <input [attr.id]="'gender-'+i" type="radio" name="genders" class="custom-control-input radio-dark-gray" [checked]="gender === genderOption" [value]="gender">
                                    <label [attr.for]="'gender-'+i" class="custom-control-label text-capitalize"><i class="fa fa-{{gender}}" aria-hidden="true"></i></label>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="text-gray">Image</label>
                                <input formControlName="image" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="tab-pane" id="work" formGroupName="work">
                            <div class="form-group">
                                <label class="text-gray">Company</label>
                                <input formControlName="company" class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <label class="text-gray">Position</label>
                                <input formControlName="position" class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <label class="text-gray">Salary</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                    <input formControlName="salary" class="form-control" type="text">
                                </div>                                
                            </div>
                        </div>
                        <div class="tab-pane" id="contacts" formGroupName="contacts">
                            <div class="form-group">
                                <label class="text-gray">Email</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
                                    </div>
                                    <input formControlName="email" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-gray">Phone</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                    </div>
                                    <input formControlName="phone" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-gray">Address</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                                    </div>
                                    <input formControlName="address" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="social" formGroupName="social">
                            <div class="form-group">
                                <label class="text-gray">Facebook</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-facebook"></i></span>
                                    </div>
                                    <input formControlName="facebook" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-gray">Twitter</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-twitter"></i></span>
                                    </div>
                                    <input formControlName="twitter" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-gray">Google</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-google"></i></span>
                                    </div>
                                    <input formControlName="google" class="form-control" type="text">
                                </div>
                            </div>
                        </div> 
                        <div class="tab-pane" id="settings" formGroupName="settings">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input checkbox-dark-gray" id="checkboxActive" formControlName="isActive" [value]="isActive">
                                <label class="custom-control-label" for="checkboxActive">Active</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input checkbox-dark-gray" id="checkboxDeleted" formControlName="isDeleted" [value]="isDeleted">
                                <label class="custom-control-label" for="checkboxDeleted">Deleted</label>
                            </div>
                            <label *ngIf="user.id"><span class="text-gray">Registration date:</span> <i>{{user.settings.registrationDate | date:"dd MMMM, yyyy 'at' HH:mm" }}</i></label> 
                            <label *ngIf="user.id"><span class="text-gray">Last joined date:</span> <i>{{user.settings.joinedDate | date:"dd MMMM, yyyy 'at' HH:mm" }}</i> </label>     
                        </div>           
                    </div>
                    <div class="col-12 bg-white text-center py-1">
                        <button [disabled]="!form.valid" class="btn btn-success mr-1" type="submit"><span *ngIf="!user.id">Add</span><span *ngIf="user.id">Update</span></button>
                        <button type="button" class="btn btn-danger" (click)="closeModal()">Cancel</button>
                    </div> 
                </form> 
            </div>
        </div>    
    </div>
</ng-template>