<div class="card" style="border: 0;">
    <div class="card-header" style="background-color: white;">
        <h5>I want to send this Prayer up to Heaven to help Jesus hear my Prayer.</h5>
    </div>
    <div class="card-body">
        <p class="card-text">{{bibleSay}}</p>
    </div>
    <div class="card-footer" style="background-color: white;">
        <div class="pull-right text-right">
            <button class="btn mr-4 mb-2 btn-info" (click)="onYesClick()">Donate with your prayer</button>
            <button class="btn mr-4 mb-2 btn-danger"  style="width:172px;" (click)="onNoClick()">Cancel</button>
        </div>
    </div>
</div>

