.step{
    .step-content{
        background: #b9b9b9;
        height: 40px;
        font-size: 1.5rem;
        .step-name{
            font-size: 14px;
        }
        &.confirmed{
            background-color: #4BAE4F !important;
        }
    }
}

.confirmed-content{
    .fa-check{
        font-size: 120px;        
    }
    .fa-print{
        font-size: 24px;
    }
}